*{
  padding: 0;
  margin:0;
}

ul{
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #fff;
}

li {
  flex: 1;
  list-style-type: none;
  text-align: center;
}

.active{
  color: red;
}

dl{
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
}

dt{
  font-size: 20px;
}

dd{
  font-size: 15px;
}

input{
  width: 100%;
  height: 40px;
  font-size: 20px;
}